meta(content=info.site.title property='og:title')
meta(content=info.site.name property='og:site_name')
meta(content=info.site.url property='og:url')

meta(content=info.og.image property='og:image')
meta(content=info.site.description property='og:description')

meta(content=info.og.type property='og:type')
//- meta(content=info.fb.admins property='fb:admins')
